@import '../../scss/style.scss';

.parallax {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  @include respond(tablet) {
    //margin-top: 250px;
    // responsive code for tablet viewport i.e. 600px
  }

  @include respond(mobile) {
    //margin-top: 250px;
    // responsive code for mobile viewport i.e. 480px
  }
}
.education {
  @include containerBase;
  color: #ffffff;
  h3 {
    margin: 0;
    padding-bottom: 50px;
    font-size: 50px;
    line-height: 40px;
    font-weight: 600;
    font-family: Sofia Pro;
    letter-spacing: 0.8px;
  }
  h4 {
    //padding-bottom: 50px;
    //line-height: 40px;
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 20px;
    font-weight: 600;
    font-family: Sofia Pro;
    letter-spacing: 0.8px;
  }
  h5 {
    font-size: 16px;
    letter-spacing: 0;
    font-family: Sofia Pro;
    font-weight: 400;
    margin: 0 0 25px;
  }
  p {
    font-size: 18px;
    font-family: Myriad Pro Semibold;
  }
  a {
    cursor: pointer;
    //text-decoration: none;
  }

  //FIXME: margin-top
  @include respond(tablet) {
    //margin: auto;
    //padding-top: 500px;
    //margin-left: 10%;
    //margin-right: 10%;
    h3 {
      font-size: 40px;
      padding-bottom: 30px;
    }
    h5 {
      margin: 0 0 20px;
    }
    p {
      font-size: 16px;
    }
    // responsive code for tablet viewport i.e. 600px
  }

  @include respond(mobile) {
    margin-left: 5%;
    margin-right: 5%;
    //margin-left: 10%;
    //margin-right: 10%;
    h3 {
      font-size: 40px;
      padding-bottom: 30px;
    }
    h5 {
      margin: 0 0 20px;
    }
    p {
      font-size: 16px;
    }
    // responsive code for mobile viewport i.e. 480px
  }
}
