@import '../../../scss/style.scss';

.description {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  margin: auto;
  //padding: 0 40px;
  border-radius: 20px;
  color: #ffffff;

  h3 {
    margin: 0 0 0 10px;
    padding-bottom: 50px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    font-family: Sofia Pro;
    letter-spacing: 0.8px;
  }

  @include respond(tablet) {
    h3 {
      padding: 15px 0;
      font-size: 30px;
    }
    // responsive code for tablet viewport i.e. 600px
  }

  @include respond(mobile) {
    h3 {
      padding: 15px 0;
      font-size: 30px;
    }
    // responsive code for mobile viewport i.e. 480px
  }
}

.container {
  background-color: #253237;
  @include containerBase;
  padding: 100px 40px;
  max-width: 1200px;
  min-height: 700px;
  border-radius: 40px;
  //padding: 0 40px;
  //margin: auto;

  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 0 0 60px 0;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  li {
    list-style-type: none;
    margin: auto;
    padding: 10px 10px;
  }
  p {
    font-size: 18;
    line-height: 2;
    overflow-wrap: break-word;
  }

  @include respond(tablet) {
    padding: 10px 10px 10px 10px;
    ul {
      margin: 0 0 0 0;
    }
    li {
      margin: auto;
      padding: 3px 3px;
    }
    // responsive code for tablet viewport i.e. 600px
  }

  @include respond(mobile) {
    padding: 10px 10px 10px 10px;
    ul {
      margin: 0 0 0 0;
    }
    li {
      margin: auto;
      padding: 3px 3px;
    }
    // responsive code for mobile viewport i.e. 480px
  }
}
