@import '../scss/style.scss';

.parallax {
  //display: flex;
  //align-items: center;
  //align-content: space-evenly;
}
.about {
  //max-width: 900px;
  //padding: 0 40px;
  color: #ccc;
  margin-left: 10%;
  a {
    color: #ffffff;
  }
  h3 {
    margin: 0;
    padding-bottom: 50px;
    font-size: 50px;
    color: #ffffff;
    line-height: 40px;
    font-weight: 600;
    font-family: Sofia Pro;
    letter-spacing: 0.8px;
  }
  h5 {
    //padding: 0;
    font-size: 60px;
    color: #ffffff;
    letter-spacing: 0;
    font-family: Sofia Pro;
    font-weight: 400;
    margin: 0 0 100px;
  }

  @include respond(tablet) {
    margin-left: 5%;
    margin-right: 5%;
    // responsive code for tablet viewport i.e. 600px
  }

  @include respond(mobile) {
    margin-left: 5%;
    margin-right: 5%;
    // responsive code for mobile viewport i.e. 480px
  }
}

.container {
  display: flex;
  align-items: center;
  align-content: space-evenly;

  ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 0 0 0 -30px;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  li {
    list-style-type: none;
    padding: 16px 0 0 30px;
    margin: 0 0 30px;
  }

  @include respond(tablet) {
    li {
      margin: 0 0 0;
    }
    // responsive code for tablet viewport i.e. 600px
  }

  @include respond(mobile) {
    li {
      margin: 0 0 0;
    }
    // responsive code for mobile viewport i.e. 480px
  }
}

.box {
  border-radius: 20px;
  border: 4px solid hsla(0, 0%, 100%, 0.05);
  padding: 50px 44px;
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;

  h3 {
    margin: 0;
    padding-right: 250px;
    padding-bottom: 50px;
    font-size: 30px;
    color: #ffffff;
    line-height: 40px;
    font-weight: 600;
    font-family: Sofia Pro;
    letter-spacing: 0.8px;
  }

  .logo {
    width: 50px;
    height: 50px;
  }

  p {
    display: block;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
  }
  @include respond(tablet) {
    max-width: 250px;
    max-height: 250px;
    h3 {
      font-size: 25px;
      padding-right: 50px;
    }
    p {
      font-size: 15px;
    }
    // responsive code for tablet viewport i.e. 600px
  }

  @include respond(mobile) {
    max-width: 250px;
    h3 {
      font-size: 25px;
      padding-right: 50px;
    }
    p {
      font-size: 15px;
    }
    // responsive code for mobile viewport i.e. 480px
  }
}
