// respond is the name of your mixin
@mixin containerBase {
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
  max-width: 1440px;
  @include respond(tablet) {
    padding: 0 20px;
    // responsive code for tablet viewport i.e. 600px
  }

  @include respond(mobile) {
    padding: 0 20px;
    // responsive code for mobile viewport i.e. 480px
  }
}
@mixin respond($breakpoint) {
  // $breakpoint is simply a variable that can have several values

  @if $breakpoint==tablet {
    // here `laptop` is the value of $breakpoint
    // when call laptop, we mean the following piece of code

    @media only screen and (max-width: 600px) {
      @content;
    }
  }

  @if $breakpoint==mobile {
    @media only screen and (max-width: 480px) {
      @content;
    }
  }
}
